body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #1f2937;
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
    padding: 150px 200px;
    gap:10px;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-button {
    color: white;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 4px 8px;
}

.hero-image {
    background-color: grey;
    display: flex;
    flex: 0 0 400px;
    height: 240px;
    color: white;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: white;
    padding: 0px 200px 150px;
    display: flex;
    flex-direction: column;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 30px auto;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.placeholder-image {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 200px 200px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color:#1f2937;
    font-size: 36px;
    font-style:italic;
    font-weight: light;
}

.quotee {
    text-align:right;
    font-weight: bold;
}

.call-to-action-container {
    background-color: white;
    padding: 70px 100px;
}

.call-to-action-content {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 50px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call-to-action-text {
    color: white;
}

.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px;
}